# Ignore all .pyc files in all folders
**/*.pyc

# Ignore all __pycache__ directories everywhere
**/__pycache__/

# virtual environments (common names)
venv/
env/
Virtualenv/

# Ignore the SQLite database
**/db.sqlite3

# Environment variables
.env
*.env
